.header {
    padding: 1% 2%;
    display: flex;
    flex-direction: row;
    z-index: 10000;
    top: 0;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    width: 100%;
    -webkit-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.navbar {
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.link{
    padding: 3%;
    border-radius: 10px;
    color: var(--primary-text);
}

.link:hover{
    background-color: var(--primary-text);
    color: var(--secondary-text);
    border-radius: 10px,
}

.main {
    color: var(--primary-text);
}

.scroll {
    background-color: var(--background-color);
    box-shadow: 0 3px 6px rgba(0,0,0,0.10);
}