.home {
    background-color: var(--winter-background);
}

.gradient {
    position: absolute;
    background-image: radial-gradient(circle, rgb(125, 71, 88) 5%, rgba(255, 255, 255, 0) 40%);
    height: 100%;
    width: 100%;
    top: 0;
}