*
{
    margin: 0;
    padding: 0;
}

html {
    background: #1e1a20;
}

canvas {
    height: 75vh;
}

.experience
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


.section
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
    align-items: flex-end;
}

/* section:nth-child(odd)
{
    justify-content: flex-end;
} */