*
{
    margin: 0;
    padding: 0;
}

:root {
    --summer-background: #85CDCB;
    --fall-background: #E27D60;
    --winter-background: #C38D9E;
    --spring-background: #E8A87C;
    --primary-text: #FFFFFF;
    --secondary-text: #41B3A3;
}

canvas {
    height: 65vh;
}

.experience
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
}

.homeSections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.section
{
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding: 5% 10%;
    align-items: flex-end;
}