*
{
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #F3F3F3;
    --primary-text: #2B2D42;
    --secondary-text: #ffeded;
}

canvas {
    height: 70vh;
}

.view {
    height: 63vh;
    width: 100%;
    background-color: 'transparent';
}

#threeJSCanvas {
    position: fixed;
    left: 0px; top: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
}


.sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.section
{
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Inter', sans-serif;
    color: #ffeded;
    /* text-transform: uppercase; */
    font-size: 7vmin;
    padding: 3% 1%;
}